# ---- Core Framework ----
Flask
Werkzeug
gunicorn
Flask-Bcrypt
Flask-Cors
# ---- Database ----
mysql-connector-python
SQLAlchemy
Flask-SQLAlchemy
sqlalchemy-utils
pymysql



# ---- Authentication & Security ----
PyJWT
bcrypt

# ---- Data Handling ----
pandas
numpy

# ---- Utilities ----
python-dotenv

# ---- Development (Optional) ----
Flask-Cors
Flask-Migrate
cryptography
